.loading__container{
  display: none;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

@media screen and (max-width: 500px){

  .loading__container img{
    width: 25rem;    

  }
}